<app-navbar></app-navbar>

<div class="transfers-container">
  <h1 style="margin-bottom: 0.8rem;">List of Transfers</h1>
  <input placeholder="Search" type="text" [(ngModel)]="searchInput" (input)="searchTransfers()" />
<!-- <button routerLink="/transfer-service" routerLinkActive="active" >Transfer Service</button> -->


  <table class="transfers-table">
    <thead>
      <tr>
        <th>Transfer Reference</th>

        <th>Sender ID</th>
        <th>Receiver ID</th>
        <th>Amount</th>
        <!-- <th>Type</th> -->
        <th>State</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="datatable-row" *ngFor="let transfer of filteredTransfers">
        <td [routerLink]="['/transfer-service/',transfer.transferReference]" style="text-decoration: underline;cursor:pointer;">{{ transfer.transferReference }}</td>
        <td>{{ transfer.sender }}</td>
        <td>{{ transfer.receiver }}</td>
        <td>
          <b>{{ transfer.amount | number:'1.2-2' }} DH</b>
        </td>
        <!-- <td>{{ transfer.type }}</td> -->
        <td>
          <b>{{ transfer.status }}</b>
        </td>
        <td>{{ transfer.timestamp |  date:'dd-MM-yy HH:mm:ss'}}</td>
        <td class="warn">
          <button (click)="extourneTransfer(transfer.transferReference)">Extourner</button>
          &nbsp; &nbsp;
          <button>Restituer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
