<div class="title">
  <h2>Agent-BackOffice</h2>
</div>
<div class="container">
  <div class="left">
    <img class="logo" src="assets/logo.svg" />
    <h1>
      The payment account that<br />
      makes everyday life <span style="color: #008995">easier</span>!
    </h1>
  </div>

  <div class="login-card">
    <img class="profil-icon" src="assets/profil-login.png" />
    <div class="input-div">
      <input [(ngModel)]="username" placeholder="Username" />
      <input [(ngModel)]="password" type="password" placeholder="Password" />
    </div>
    <button (click)="login()">LOGIN</button>
  </div>
</div>
