/* src/app/national-transfer-multiple/national-transfer-multiple.component.css */
div {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #008995;

  }
  
  h2 {
    text-align: center;
    color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #fff;
  }
  
  select, input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background: #FFF;
    color: #008995;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    border: 3px solid #008995;
    
  }
  
  button:hover {
    background: #008995;
    border: 3px solid #FFF;
    color: #FFF;
  }
  
  /* Added style for added receivers */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  