<app-navbar></app-navbar>

<div>
  <h2>National Transfer</h2>
  <form (submit)="submitTransfer()" #transferForm="ngForm">
    <label for="sender">Sender:</label>
<span>{{ senderName }}</span>


    <label for="amount">Amount:</label>
    <input
      type="number"
      id="amount"
      name="amount"
      [(ngModel)]="amount"
      required
    />

    <label for="type">Fee Type:</label>
    <select id="type" name="type" [(ngModel)]="type" required>
      <option value="DONOR">DONOR</option>
      <option value="BENEFICIARY">BENEFICIARY</option>
      <option value="BOTH">BOTH</option>
    </select>

    <label for="operationType">Operation Type:</label>
    <select id="operationType" name="operationType" [(ngModel)]="operationType" required>
      <option value="DEBIT_CONSOLE_AGENT">Debit from customer account</option>
      <option value="ESPECE_CONSOLE_AGENT">By Cash</option>
    </select>

    <label for="receivers">Receivers:</label>
    <select
      id="receivers"
      name="selectedReceiver"
      [(ngModel)]="selectedReceiver"
    >
      <option *ngFor="let receiver of receiverList" [value]="receiver['id']">
        {{ receiver['firstName'] }} {{ receiver['lastName'] }} 
      </option>
    </select>

    <button type="button" (click)="addReceiver()">Add Receiver</button>

    <div  class="receiver" *ngIf="addedReceiver">
      <label>Added Receivers:</label>
      <ul>
        <li >{{ addedReceiver }}</li>
      </ul>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
