<app-navbar></app-navbar>

<div class="client-details">
  <h2>Client Details</h2>
  <div *ngIf="client">
    <dl>
      <dt>ID:</dt>
      <dd>{{ client.customerId }}</dd>

      <dt>Name:</dt>
      <dd>{{ client.firstName }} {{ client.lastName }}</dd>

      <dt>Email:</dt>
      <dd>{{ client.email }}</dd>

      <dt>CNE:</dt>
      <dd>{{ client.cne }}</dd>

      <dt>Phone:</dt>
      <dd>{{ client.phone }}</dd>

      <dt>Balance:</dt>
      <dd>{{ client.balance }}</dd>

      <dt>Annual Ceiling:</dt>
      <dd>{{ client.plafondAnnuel }}</dd>
    </dl>

    <!-- Add the "Send Transfer" button with a click event -->
  </div>
  <button (click)="sendTransfer()">Send Transfer</button>

  <div *ngIf="!client">
    <p>Client not found</p>
  </div>
</div>
