<app-navbar></app-navbar>

<div class="client-details">
  <h2>Client Details</h2>
  <div *ngIf="client">
    <dl>
      <dt>ID:</dt>
      <dd>{{ client.id }}</dd>

      <dt>Name:</dt>
      <dd>{{ client.firstname }} {{ client.lastname }}</dd>

      <dt>Email:</dt>
      <dd>{{ client.email }}</dd>

      <dt>CNE:</dt>
      <dd>{{ client.cne }}</dd>

      <dt>Phone:</dt>
      <dd>{{ client.phone }}</dd>

      <dt>Balance:</dt>
      <dd>{{ client.balance }}</dd>

      <dt>Account Type:</dt>
      <dd>{{ client.accountType }}</dd>
    </dl>

    <!-- Add the "Send Transfer" button with a click event -->
    <button (click)="sendTransfer()">Send Transfer</button>
  </div>
  <div *ngIf="!client">
    <p>Client not found</p>
  </div>
</div>
