.client-details {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 40%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2{
  text-align: center;
  border-bottom: #e4e4e4 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

dt,
dd {
  padding: 5px;
  margin: 0;
}

dt {
  font-weight: bold;
}

p {
  color: #d9534f;
}

button {
  margin-top: 10px;
  background: #fff;
  color: #008995;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  border: 3px solid #008995;
  width: 100%;
}

button:hover {
  background: #008995;
  border: 3px solid #fff;
  color: #fff;
}
